<div class='homepage-container'>
  <%= image_tag('downtown', class: 'homepage-img') %>
  <div class='text-container'>
    <div class='centered'>
      <h1 class='index-text'>Welcome to <span class='logo'>Gryft</span></h1>
    </div>
  </div>
</div>