<h1 class='index-header'>Gryft Passengers</h1>
<h2 class='index-sub-header'>Gryft passengers are the best in the business!</h2>
<p class='index-description'>Here are our current passengers:</p>

<table class='index-table'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone Number</th>
  </tr>

  <% @passengers.each do |passenger|  %>
    <tr>
      <td><%= passenger.id %></td>
      <td><%= link_to passenger.name, passenger_path(passenger.id) %></td>
      <td><%= passenger.phone_num %></td>
    </tr>
  <% end %>
</table>