<h1>Drivers</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>VIN</th>
    <th>Status</th>
  </tr>

  <% @drivers.each do |driver|  %>
    <tr>
      <td><%= driver.id %></td>
      <td><%= link_to driver.name, driver_path(driver.id) %></td>
      <td><%= driver.vin %></td>
      <td><%= driver.available %></td>
    </tr>
  <% end %>
</table>

