<h1 class='index-header'>Gryft Drivers</h1>
<h2 class='index-sub-header'>Gryft drivers are the best in the business!</h2>
<p class='index-description'>Here are our current drivers:</p>
<table class='index-table'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>VIN</th>
    <th>Status</th>
  </tr>

  <% @drivers.each do |driver|  %>
    <tr>
      <td><%= driver.id %></td>
      <td><%= link_to driver.name, driver_path(driver.id) %></td>
      <td><%= driver.vin %></td>
      <td><%= driver.available %></td>
    </tr>
  <% end %>
</table>

