/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";

html {
  font-family: 'Montserrat', sans-serif;
}

nav {
  place-self: end;
  padding-right: 20px;
}

body {
  background-color: #aec3b0
}

a {
  color: #598392;
}

.content {
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}


 /* Dropdown Button */
 .dropbtn {
  background-color: #EFF6E0;
  color: #01161E;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 125px;

}

.dropbtn a {
  color: #01161E;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FF2D95;} 

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #01161E;
  padding: 20px 0px;
}

.header-title {
  padding-left: 50px;
  color: #01161E;
  font-family: 'Pacifico', cursive;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.index-header {
  text-align: center;
  font-weight: bold;
}

.index-sub-header {
  text-align: center;
  font-style: italic;
}

.index-description {
  text-align: center;
}

.index-table {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  background-color: #EFF6E0; 
}